[MASTER]
ignore=alembic/versions/**,env.py

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-many-arguments,
    line-too-long,
    missing-module-docstring,
    missing-function-docstring,
    import-error,
    too-few-public-methods,
    use-dict-literal,
    unspecified-encoding,
    pointless-string-statement

[FORMAT]
max-line-length=120

[TYPECHECK]
ignore-mixin-members=yes
ignored-modules=flask_sqlalchemy,ujson,alembic
ignored-classes=optparse.Values,thread._local,_thread._local,scoped_session,alembic.op
generated-members=query,objects
contextmanager-decorators=contextlib.contextmanager