[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-many-arguments,
    line-too-long,
    missing-module-docstring,
    missing-function-docstring,
    import-error

[FORMAT]
max-line-length=120